@page "/"

<PageTitle>Home</PageTitle>

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop 
@inject IDialogService Dialog

<div class="container" style="background-color:transparent">
    <div class="content" style="background-color:transparent"> 
<MudPaper Class="d-flex justify-center flex-grow-1 gap-4 ma-6" Elevation="0">

    @if (!IsPlaying)
    { 
        <MudButton Variant="Variant.Filled"
                   OnClick="StartGame"
                   Color="Color.Tertiary">Start()</MudButton>
     
    } 
</MudPaper>

<MudPaper Class="d-flex justify-center flex-grow-1 gap-4 ma-6" Elevation="0">
    <MudPaper Class="d-flex flex-column flex-grow-1 gap-1" Elevation="0">
        @foreach (var item in ls)
        {
            <MudPaper Class="d-flex flex-row flex-grow-1 gap-1" Elevation="0">
                @foreach (var point in item)
                {
                    <MudPaper Style="@($"{point.NodeColor}")" Width="64px" Height="64px" />
                }

            </MudPaper>
        }
    </MudPaper>
</MudPaper>

    </div>
</div>

<MudDialog @bind-IsVisible="GameOfover" Options="dialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <strong style="text-decoration: line-through;">Friend</strong> Snake
        </MudText>
    </TitleContent>
    <DialogContent>
        <p>Game Score  is @(snakeLength * 100 * 13.5)</p>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Class="px-10">Retry</MudButton>
    </DialogActions>
    </MudDialog>
     

<style>
    .container {
        /* This ensures the container takes up the entire viewport */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* Center content vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e5e9f4
    }

    .containerWord {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .custom-label-color .mud-input-label {
        background-color: #e5e9f4 !important;
    }

    .custom-expansion {
        background-color: #ffffff4d;
        border-radius: 4px;
    }

</style>